* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    background-color: red;
    color: white;
    grid-template-columns: repeat(4, 1fr);
    height: auto;         

}

.items {
    background-color: green;
    color: white;
    margin: 10px;
    padding: 10px;
}

.item1 {
    grid-column: 1/span 2;
}

.item2 {
    grid-column: 1/span 2;
    grid-row: 3 /span 2;

}
.item3 {
    grid-column: 1 /span 3;
}